* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto sans', sans-serif;
  }

header,
section {
  overflow-x: hidden;
}

:root {
  --light-black: #2e2c2caf;
  --light-gray: rgba(255, 255, 255, 0.877);
    --bggradient: linear-gradient(to top, #fff, #111);
  --bsgradient: linear-gradient(to bottom, #100075, #100075);
}

/* Barra Login y Navbar*/
.barrita {
background: rgba(0, 0, 0, 0);
}

.login a {
font-size: 14px;
text-decoration: none;
}

.barrita a:hover {
color: #111;
}


#navbarNav {
  justify-content: center;
}
.navbar-brand:hover {
  color: #111;
}

/* HEADER */
header a {
  font-family: 'Noto sans', sans-serif;
  font-size: 1.1em;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: 'Noto Sans', sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 9.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/*SECCION 1*/

.section-1 {
  padding: 20vmin 0vmin;
  background: var(--bsgradients)
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* SECCION 2 */

.cover {
  width: 100%;
  height: 55vmin;
background: #111;
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
}

.cover .content {
  width: 100%;
  height: 90%;
  background: #111;
  padding-top: 19vmin;
}

.cover .content h1 {
  font-size: 6vmin;
  color: whitesmoke;
}

.purchase h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* SECCION 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: #111;
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* FOOTER */
footer {
  background: #fff;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

.faq-title{
  font-size: 30px;
  font-weight: bolder;

}
.faq-vertical-list{
  font-size: 20px;
}


/*PREGUNTAS FRECUENTES*/
td{
  font-family: 'Noto sans', sans-serif;
  font-size: 15px;
  color: #000000;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 50px;

}

ul li{
  list-style: none;
  margin-right: auto;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 10px;

}











/* NAV PREGUNTAS FRECUENTES*/
